[user]
	name = Shang-Wei Wang
	email = shang-wei@asapp.com
[color]
	ui = true

[diff]
	tool = kdiff3

[difftool]
    prompt = false

[alias]
	la = log --pretty=format:\"%C(yellow) %h %Cgreen%ad%C(red)[%an]%C(auto)%d %Creset%s\" --graph --date=short --all
	dp = difftool HEAD~ HEAD
	cos = "!f() { git reset HEAD \"./$1\"; git checkout -- \"./$1\"; }; f"
	cm = commit -m
	cma = commit -a -m

[merge]
	tool = kdiff3


[core]
	editor = /usr/local/bin/vim
	excludesfile = ~/.gitignore
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@github.asapp.dev/"]
	insteadOf = https://github.asapp.dev/
